body {
  background: url("../images/background_image.jpg") center/cover no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  width: 100%;
  margin: 20px 20px 0 20px;
}

.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}

.menu-bar li:hover {
  color: black;
}

.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

/* .menu-bar li:nth-child(7) {
  margin-left: 450px;
} */

.menu-bar li:nth-child(2) {
  margin-left: 50px;
}

.menu-bar a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  font-family: sans-serif;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
.menu-bar a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar a:hover {
  color: black;
}
.menu-bar a:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
img {
  width: 50px;
  height: 35px;
  padding-top: 4px;
}
